root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]

# CA1056: Uri properties should not be strings
dotnet_diagnostic.CA1056.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true:suggestion

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = true:suggestion
